<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop com rescap">

  <Identity
    Name="saica1101.StaminaManager"
    Publisher="CN=E42D0651-60BF-47A1-BD3B-ECCF464087D2"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>StaminaManager</DisplayName>
    <PublisherDisplayName>saica1101</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="StaminaManager"
        Description="複数のゲームのスタミナ回復状況をまとめて確認し、通知で管理できるアプリです。"
        BackgroundColor="#0B1F33"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen
          Image="Assets\SplashScreen.png"
          BackgroundColor="#0B1F33" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation
            ToastActivatorCLSID="D5F7A0E1-7A64-4C85-9E72-1A148D65B63B" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="StaminaManager.exe"
              Arguments="----AppNotificationActivated:"
              DisplayName="Stamina Manager notification activator">
              <com:Class
                Id="D5F7A0E1-7A64-4C85-9E72-1A148D65B63B"
                DisplayName="Stamina Manager notification activator" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="StaminaManager.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="StaminaManagerStartup"
            Enabled="false"
            DisplayName="Stamina Manager" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
